{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Homeslice</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body class="font-sans antialiased">
    <div class="min-h-screen">
        {% if user.is_authenticated %}
        {% include "nav.html" %}
        {% endif %}

        <div class="container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>
