{% extends "base.html" %}
{% load allauth i18n widget_tweaks %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="px-4 sm:ml-64 pt-24">
    <div class="px-4">
        <h1 class="text-2xl font-semibold mb-4">Change Password</h1>
        <p class="block my-4 text-sm font-medium text-gray-500">Forgot your password? Feel free to <a href="{% url 'account_reset_password' %}" class="font-bold">reset it</a>.</p>
        {% include "_messages.html" %}
        <div class="flex flex-row my-8">
            <div class="basis-full md:basis-8/12 p-8 rounded bg-gray-50">
                <form ethod="post" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors | safe }}
                    <div>
                        <div class="mb-5">
                            {{ form.oldpassword.errors | safe }}
                            <label for="oldpassword" class="block mb-2 text-sm font-medium text-gray-900">Current password</label>
                            {% render_field form.oldpassword placeholder="enter current password" id="oldpassword" name="oldpassword" type="password" autocomplete="current-password" required=True class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                        </div>
                        <div class="mb-5">
                            {{ form.password1.errors | safe }}
                            <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-900">New Password</label>
                            {% render_field form.password1 placeholder="enter new password" id="id_password1" name="password1" type="password" autocomplete="current-password" required="True" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                            <span class="helptext" id="id_password1_helptext">
                                <ul class="ml-4 mt-4 mb-8 list-disc list-inside">
                                    <li class="text-sm text-gray-500">Your password can't be too similar to your other personal information.</li>
                                    <li class="text-sm text-gray-500">Your password must contain at least 8 characters.</li>
                                    <li class="text-sm text-gray-500">Your password can't be a commonly used password.</li>
                                    <li class="text-sm text-gray-500">Your password can't be entirely numeric.</li>
                                </ul>
                            </span>    
                        </div>
                        <div class="mb-5">
                            {{ form.password1.errors | safe }}
                            <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-900">New Password (again)</label>
                            {% render_field form.password1 placeholder="enter new password again" id="id_password1" name="password1" type="password" autocomplete="current-password" required="True" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 cursor-pointer">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}