{% extends "base.html" %}
{% load allauth widget_tweaks %}

{% block content %}
<div class="flex flex-col items-center justify-center px-4 py-8 my-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-2xl my-5 text-center">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Signup for Homeslice</h1>
        <p class="block my-8 text-sm font-medium text-gray-500">Already have an account? Then please <a href="{{ login_url }}" class="font-bold">sign in</a>.</p>
    </div>
    <div class="w-full max-w-lg">
        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {{ form.non_field_errors | safe }}
            <input type="hidden" name="remember" value="true" />
            <div>
                <div class="mb-5">
                    {{ form.username.errors | safe }}
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                    {% render_field form.username placeholder="@username" id="username" name="username" type="text" autocomplete="username" required=True class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                </div>
                <div class="mb-5">
                    {{ form.email.errors | safe }}
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    {% render_field form.email id="email" name="email" placeholder="name@company.com" type="email" autocomplete="email" required="True" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                </div>
                <div class="mb-5">
                    {{ form.password1.errors | safe }}
                    <label for="password1" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                    {% render_field form.password1 id="password1" name="password1" type="password" autocomplete="current-password" required="True" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                </div>
                <div class="mb-5">
                    {{ form.password2.errors | safe }}
                    <label for="password2" class="block mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
                    {% render_field form.password2 id="password2" name="password2" type="password" autocomplete="current-password" required="True" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                </div>
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="mt-5">
                <button type="submit" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-blue-300">
                    Sign up
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
