{% extends "base.html" %}
{% load allauth widget_tweaks %}

{% block content %}
<div class="flex flex-col items-center justify-center px-4 py-12 my-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-2xl my-5 mb-12 text-center">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Add Link</h1>
    </div>

    <div class="w-full max-w-lg">
        <form id="create_link_form" method="post" action="{% url 'link-create' %}">
            {% csrf_token %}

            {{ form.non_field_errors | safe }}

            {% for field in form %}
            <div>
                <div class="mb-5">
                    <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
                    {% if field.name == 'is_active' %}
                    {% render_field field class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" %}
                    {% else %}
                    {% render_field field class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                    {% endif %}

                    {% if field.errors %}
                    <div class="text-red-500 text-sm mt-1">
                        {{ field.errors | safe }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
                <div class="mt-10">
                    <button type="submit" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 cursor-pointer">
                        Create Link
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}