{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="login-form min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
    <div>
        <a href="/">
            <img src="{% static 'images/homeslice.png' %}" class="w-20 h-auto align-middle border-none" alt="Homeslice"/>
        </a>
    </div>
    <h2 class="my-2 text-xl">Log in</h2>
    <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white border overflow-hidden sm:rounded-lg">

        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

        <form method="POST" action="/login/">
            {% csrf_token %}
            <div class="mt-4">
                 <label class="block font-medium text-sm text-gray-700">{{ form.email.label }}</label>
                 {{ form.email }}
                 {% if form.email.errors %}
                 <p class="text-red-500 text-xs italic mt-2">
                     {{ form.email.help_text }}
                 </p>
                 {% endif %}
            </div>
            <div class="mt-4">
                <label class="block font-medium text-sm text-gray-700">{{ form.password.label }}</label>
                {{ form.password }}
                {% if form.password.errors %}
                <p class="text-red-500 text-xs italic mt-2">
                    {{ form.password.help_text }}
                </p>
                {% endif %}
           </div>
            <div class="flex items-center justify-end mt-4">
                <a class="underline text-sm text-gray-600 hover:text-gray-900" href="/forgot-password">
                    Forgot your password?
                </a>
                 <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray disabled:opacity-25 transition ease-in-out duration-150 ml-4">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
