{% extends "base.html" %}


{% block content %}

  <ul class="flex">
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="#">Active</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="#">Link</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="#">Link</a>
    </li>
    <li class="mr-6">
      <a class="text-gray-400 cursor-not-allowed" href="#">Disabled</a>
    </li>
  </ul>


<h1>Boookmarks</h1>
    {% if bookmarks.count > 0 %}
    <div>
        {% for bookmark in bookmarks %}
        <div class="py-3">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden sm:rounded-lg grid">
                    <div class="p-6 sm:px-10 bg-white border border-gray-200 grid grid-cols-1 md:grid-cols-3 items-center divide-solid">
                        <div>
                            <div class="mt-2 text-2xl">
                                <a href="https://yahoo.com">
                                    {{ bookmark.name }}
                                </a>
                            </div>
                            <div>
                                <a class="mt-6 text-gray-500" href="{{ bookmark.url }}">{{ bookmark.url }}</a>
                            </div>
                        </div>
                        <div>
                            <div class="mt-2">
                                {% if bookmark.notes %}
                                <p>{{ bookmark.notes }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <div class="mt-2 text-2xl text-right">
                                <a href="/bookmarks/edit/{{ bookmark.id }}" class="inline-flex items-center px-4 py-2 bg-gray-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-500 active:bg-gray-700 focus:outline-none focus:border-gray-700 focus:shadow-outline-gray disabled:opacity-25 transition ease-in-out duration-150 ml-4">
                                    Edit
                                </a>
                                <a href="/bookmarks/delete/{{ bookmark.id }}" class="inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-800 focus:outline-none focus:border-red-800 focus:shadow-outline-red disabled:opacity-25 transition ease-in-out duration-150 ml-4">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:px-5 bg-white border border-gray-200r border-t-0">
                        <a href="#" class="h-7 mx-3 px-3 py-2 text-sm text-gray-800 transition-colors duration-150 bg-gray-300 rounded-full focus:shadow-outline hover:bg-gray-600 hover:text-gray-200">
                            Pill button
                        </a>
                        <a href="#" class="h-7 mx-3 px-3 py-2 text-sm text-gray-800 transition-colors duration-150 bg-gray-300 rounded-full focus:shadow-outline hover:bg-gray-600 hover:text-gray-200">
                            Pill button
                        </a>
                        <a href="#" class="h-7 mx-3 px-3 py-2 text-sm text-gray-800 transition-colors duration-150 bg-gray-300 rounded-full focus:shadow-outline hover:bg-gray-600 hover:text-gray-200">
                            Pill button
                        </a>
                        <a href="#" class="h-7 mx-3 px-3 py-2 text-sm text-gray-800 transition-colors duration-150 bg-gray-300 rounded-full focus:shadow-outline hover:bg-gray-600 hover:text-gray-200">
                            Pill button
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
        <p>No bookmarks yet!</p>
        <p><button>Add one!</button></p>
    {% endif %}
{% endblock %}