{% load static django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeslice</title>

    {% vite_hmr_client %}
    {% vite_asset 'homeslice/static/js/main.js' %}
</head>

<body>
    <div>
        {% if request.user.is_authenticated %}
        {% include '_navbar_auth.html' %}
        {% include '_sidebar.html' %}
        {% elif request.path != '/' %}
        {% include '_navbar.html' %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

<script src="{% static 'js/flowbite.min.js' %}"></script>
</body>
</html>