{% extends "base.html" %}

{% load static %}

{% block content %}

    <section class="flex h-screen">
        <div class="m-auto">
            <div class="mx-auto">
                <div class="flex flex-wrap justify-center">
                    <div class="w-6/12 sm:w-4/12 px-4 mb-6">
                      <img src="{% static 'images/homeslice.png' %}" class="max-w-full h-auto align-middle border-none" alt="Homeslice"/>
                    </div>
                  </div>
                <div class="justify-center">
                    <img src="" alt="">
                </div>
                <div class="justify-center">
                    <h1 class="text-4xl">Homeslice - your bookmarking buddy.</h1>
                </div>
                <div class="flex justify-center py-8">
                    <a class="px-6" href="/login/">Log in</a>
                    <a class="px-6"  href="/singup/">Sign up</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
